html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-body);
    line-height: 1.6;
    scroll-behavior: smooth;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Tipografia */
h1,
h2,
h3 {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    border-left: none;
    /* Removed border */
    padding-left: 0;
    line-height: 0.9;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
        line-height: 1.1;
    }
}

.text-center {
    text-align: center;
}